@font-face
  font-family RedHatDisplay-bld
  src url(./fonts/Rubik-Bold.ttf)

@font-face
  font-family RedHatDisplay-med
  src url(./fonts/Rubik-Medium.ttf)

@font-face
  font-family RedHatDisplay-reg
  src url(./fonts/Rubik-Regular.ttf)

.page-fixed-width
  max-width $pageFixWidth
  margin-left auto
  margin-right auto

.altisima-bg-img
  background-image: url("../assets/altisima-ornamenty.png")
  background-position: center
  background-repeat:  no-repeat
  background-attachment: fixed
  background-size: cover //- 100%
  background-color: white

body
  font-family $alt-text-font
  font-size $alt-text-size
  color $alt-text-color


h1
  font-family RedHatDisplay-bld
  font-size 26px
  line-height 40px

h2
  font-size 42px
  line-height 1.3em
  color dark

h3
  font-family RedHatDisplay-med
  font-size 20px
  line-height 30px
  color $alt-title-color

p
  font-family RedHatDisplay-reg
  font-size $alt-text-size

a
  color $primary
  font-decoration none

.drs-menu
  color $primary
  font-size 16px
  padding 26px
  text-decoration none


.drs-menu-v
  color $primary
  font-size 16px
  text-decoration none
  letter-spacing .035rem
  padding-bottom 6px
  padding-top 6px

.primary-lighter
  color hsl(209, 100%, 65%)

.no-alt-scroll
  *
    overflow hidden
