/* Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.styl files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   = #1976D2
$secondary = #26A69A
$accent    = #9C27B0
*/

$dark      = #1D1D1D
$positive  = #21BA45
$negative  = #C10015
$info      = #31CCEC
$warning   = #F2C037


$primary = hsl(209, 100%, 28.8%)

$secondary = hsl(53, 100%, 50%)
$alt-gray = hsla(39, 0%, 54%, .1)
$alt-gray-light = hsla(39, 0%, 54%, 0.07)


//Jidelna SQL
$jidelna-primary = $primary
$orange = $jidelna-primary
$jidelna-blue-light = hsla(209, 100%, 28.8%, 0.1)
$accent = $jidelna-blue

$jidelnaCardHeight = 530px

$alt-text-color = #546e7a //- barva hlavniho textu
$alt-text-size = 16px
$alt-text-font = RedHatDisplay-reg
$footer-background = $jidelna-blue-light
$footer-color = $alt-text-color

$alt-title-color = #263238
$alt-title-size = 18px
$alt-title-font = RedHatDisplay-med

$pageFixWidth = 1110px

// karty řešení
$numberOfCardsPerLine = 2
$gutterSize = 25px
$cardHeight = 520px

// dorsys.cz
$iconContainerSize = 90px
$iconSize = 30px //velikost samotné ikonky
$titleContainerSize = 25px
$tabsContainerSize = 54px
$avatarMargin = 30px
$avatarBackground = $alt-violet-light

$gekonCardHeight = 570px
$gekonNumberOfCardsPerLine = 3

$gekonIconContainerSize = 150px
$gekonIconSize = 135px //velikost fotky
$gekonTitleContainerSize = 25px
$gekonTabsContainerSize = 114px
$gekonAvatarMargin = 30px
$gekonAvatarBackground = $gekon-green-light


